    <table>
      <thead>
        <tr>
          <th>name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= user.name %></td>
          <td>フォロー数: <%= user.following.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
        </tr>
      </tbody>
    </table>

<h3>フォローしている人:</h3>
<table>
  <thead>
    <tr>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
    <% user.following.each do |followed_user| %>
      <tr>
        <td><%= followed_user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>フォロワー:</h3>
<table>
  <thead>
    <tr>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
    <% user.followers.each do |follower| %>
      <tr>
        <td><%= follower.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

