<section>
	<div class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-around">
		<div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-144 xl:h-112 2xl:h-128 3xl:h-144">
			<%= image_tag "top.svg", alt:"", class:"object-contain h-72 sm:h-80 lg:h-144 xl:h-112 2xl:h-128 3xl:h-144"%>
		</div>
		<div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
			<span class="text-2xl">プロフィールで<br>エンジニアとつながる</span>
			  <h1 class="text-5xl font-bold leadi sm:text-6xl">EngiC.
			  <p class="mt-6 mb-8 text-lg sm:mb-12">Engineer Conector</p>
			  </h1>
			<div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
				<div class="btns px-8 py-3 text-lg font-semibold bg-white rounded cursor-pointer" onclick="my_modal_1.showModal()">Engic.を始める</div>
      </div>
		</div>
	</div>
  <div>
    <div class="my-10">
      <div class="fade">
        <div class="flex justify-center items-center mt-20" >
          <%= image_tag "profile.svg",class:"object-contain h-32 sm:h-40 lg:h-48 xl:h-64 2xl:h-52" %>
          <p class="mt-6 text-base">エンジニア・エンジニア志望の人<br>専用のプロフィールが作れる!</p>
        </div>
      </div>
      <div class="fade">
        <div><p class="flex justify-center items-center text-md">連携先</p></div>
        <div class="flex justify-center items-center ">
          <i class="devicon-github-original-wordmark colored text-4xl md:text-6xl"></i>
          <i class="devicon-twitter-original colored text-4xl md:text-6xl ml-4"></i>
          <%= image_tag "qiita.webp", class:"h-12 md:h-16 ml-4" %>
          <%= image_tag "zenn.svg", class:"h-12 md:h-16 ml-4" %>
          <%= image_tag "note.webp", class:"h-8 md:h-10 md:h-16" %>
        </div>
      </div>
      <div class="fade flex justify-center items-center">
        <div class="mockup-phone border-primary" style="transform: scale(0.8);">
          <div class="camera"></div>
          <div class="display">
            <div class="artboard artboard-demo phone-1"><%= image_tag(image_url("moc.webp")) %></div>
          </div>
        </div>
      </div> 
      <div class="fade flex justify-center items-center mt-5" >
        <%= image_tag "search.svg",class:"object-contain h-40 sm:h-40 lg:h-52 xl:h-72 2xl:h-52" %>
        <div>
          <p class="mt-10 text-base">スキルで探してつながる</p>
          <p class="text-sm">自分の興味のある分野で探そう！</p>
        </div>
      </div>
      <div class="fade" >
        <div class="flex justify-center items-center">
          <div class="top-skills">
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-nextjs-original-wordmark"></i>
            <i class="devicon-react-original-wordmark"></i>
            <i class="devicon-rails-plain-wordmark"></i>
            <i class="devicon-ruby-plain-wordmark"></i>
            <i class="devicon-docker-plain-wordmark"></i>
            <i class="devicon-amazonwebservices-plain-wordmark"></i>
            <i class="devicon-vim-plain"></i>
            <i class="devicon-vuejs-plain"></i>
            <i class="devicon-typescript-plain"></i>
            <i class="devicon-python-plain-wordmark"></i>
          </div>
        </div>
      </div>
      <div class="fade">
        <div class="flex justify-center items-center mt-28" >
          <%= image_tag "qr_code.svg",class:"object-contain h-32 sm:h-40 lg:h-48 xl:h-64 2xl:h-52" %>
          <div>
            <p class="mt-6 text-base md:text-lg">QRコードで見つけられる！</p>
            <p class="text-sm md:text-base">イベントやオフ会でプロフィール交換</p>
          </div>
        </div>
      </div>
      <div class="fade flex justify-center items-center my-20">
        <div class="btns px-8 py-3 text-lg flex justify-center items-center font-semibold bg-white rounded cursor-pointer" onclick="my_modal_1.showModal()">さあ、Engic.をはじめよう！</div>
      </div>
    </div> 
  </div> 
</section>

<script type="text/javascript">
document.addEventListener('turbo:load', function() {
  const targets = document.getElementsByClassName('fade');
  for(let i = targets.length; i--;){
    let observer = new IntersectionObserver((entries, observer) => {
      for(let j = entries.length; j--;){
        if (entries[j].isIntersecting) {
          entries[j].target.classList.add('active');
        } else{
          entries[j].target.classList.remove('active');
        }
      }
    });
    observer.observe(targets[i]);
  }
});
</script>


