<div class="container mx-auto h-screen" >
  <div class="flex flex-col justify-center mx-2 relative bg-white rounded-lg">
    <div>
      <p class="font-bold text-sm md:text-base ml-2 mt-2"><%= @user.name %></p>
    </div>
    <div class="tabs2 border-b">
      <div class="tab" data-tab-target="#following">フォロー</div>
      <div class="tab" data-tab-target="#followers">フォロワー</div>
    </div>
    <div id="following" class="tab-content">
      <table class="table w-full">
        <thead>
          <tr>
            <th class="w-1/3 name-column">名前</th>
            <th class="p-1 intro-column">自己紹介</th>
            <th class="p-1 skill-column">スキル</th>
            <th class="follow-button"></th>
          </tr>
        </thead>
        <tbody>
          <% @following.each do |user| %>
            <tr class="overflow-hidden user-row">
              <td class="p-1 overflow-hidden">
                <div class="md:flex items-center md:gap-2">
                  <div class="avatar">
                    <div class="mask mask-squircle w-6 h-6 md:w-12 md:h-12">
                      <%= image_tag user.avatar.present? ? user.avatar.url : "default.png" %>
                    </div>
                  </div>
                  <div class="user-name">
                    <div class="font-bold text-xxs">
                      <div>
                        <p><%= link_to user.name, user_mypage_path(user) %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-left p-1 text-xxxs md:text-sm overflow-hidden user-intro"> 
                <%= user.introduction %>
              </td>
              <td class="text-left p-1 text-sm md:text-base overflow-hidden user-skills"> 
                <% user.skills.each do |skill| %>
                <div class="badge badge-xs bg-white md:badge-ghost text-xxs"><%= skill.name %></div>
                <% end %>
              </td>
              <td class=" md:text-right md:pl-2 follow-button w-full">
                <% if current_user && current_user != user %>
                  <%= render 'users/follow_buttons', { user: user, relationship: current_user.active_relationships.find_by(followed_id: user.id) } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="followers" class="tab-content">
      <table class="table w-full">
        <thead>
          <tr>
            <th class="w-1/3 name-column">名前</th>
            <th class="p-1 intro-column">自己紹介</th>
            <th class="p-1 skill-column">スキル</th>
          </tr>
        </thead>
        <tbody>
          <% @followers.each do |user| %>
            <tr>
              <td class="p-1">
                <div class="flex items-center gap-2">
                  <div class="avatar">
                    <div class="mask mask-squircle w-8 h-8 md:w-12 md:h-12">
                      <%= image_tag user.avatar.present? ? user.avatar.url : "default.png" %>
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">
                      <div>
                        <p><%= link_to user.name, user_mypage_path(user) %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-left p-1 text-sm"> 
                <%= user.introduction %>
              </td>
              <td class="text-left p-1 text-sm md:text-base"> 
                <% user.skills.each do |skill| %>
                <div class="badge bg-white badge-ghost"><%= skill.name %></div>
              <% end %>
              </td>
              <td class="text-right pl-2">
                <% if current_user && current_user != user %>
                  <%= render 'users/follow_buttons', { user: user, relationship: current_user.active_relationships.find_by(followed_id: user.id) } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="mt-10 mb-3 mx-auto w-20">
      <%= link_to '戻る', request.referer.present? ? request.referer : root_path, class:"inline-flex h-10 items-center justify-center gap-2 w-full rounded border border-slate-300 bg-white p-2 text-sm font-medium text-black mt-5" %>
    </div>
  </div>
</div>
<script>
document.addEventListener('turbo:load', () => {
  // URLからクエリパラメータを取得
  const urlParams = new URLSearchParams(window.location.search);
  const tabParam = urlParams.get('tab'); // 'followers' または 'following'

  // クエリパラメータに応じて対応するタブとタブコンテンツを選択
  let activeTab, activeContent;
  if (tabParam) {
    activeTab = document.querySelector(`.tab[data-tab-target="#${tabParam}"]`);
    activeContent = document.querySelector(`#${tabParam}`);
  }

  // クエリパラメータが指定されていない場合、または指定されたタブが見つからない場合のデフォルト
  if (!activeTab || !activeContent) {
    // ここでデフォルトのタブを選択する
    activeTab = document.querySelector('.tab');
    activeContent = document.querySelector('.tab-content');
  }

  // 選択されたタブとタブコンテンツをアクティブにする
  if (activeTab && activeContent) {
    document.querySelectorAll('.tab').forEach(t => t.classList.remove('active'));
    document.querySelectorAll('.tab-content').forEach(content => content.classList.remove('active'));

    activeTab.classList.add('active');
    activeContent.classList.add('active');
  }

  // タブのクリックイベントハンドラー
  document.querySelectorAll('.tab').forEach(tab => {
    tab.addEventListener('click', () => {
      document.querySelectorAll('.tab').forEach(t => t.classList.remove('active'));
      document.querySelectorAll('.tab-content').forEach(content => content.classList.remove('active'));

      const targetContent = document.querySelector(tab.getAttribute('data-tab-target'));
      tab.classList.add('active');
      if (targetContent) {
        targetContent.classList.add('active');
      }
    });
  });
});
</script>