<div class="container mx-auto h-screen">
  <div class="flex flex-col md:flex-row mt-3 items-center md:items-start">
    <div class="w-80 my-auto md:ml-5 ">
      <div class="bg-white rounded py-3">
        <div class="mx-4">
          <div class="avatar mt-4 ml-2">
            <div class="w-14 md:w-20 rounded-full">
              <%= image_tag(@user.avatar.present? ? @user.avatar.url : "default.png", alt: "アイコン") %>
            </div>
          </div>
          <div class="mt-5 flex items-center border-b space-x-4 ml-2 text-slate-500 text-sm"> 
            <p><%= link_to "#{@user.following.count} フォロー", show_follows_user_path(@user, tab: 'following') %></p>
            <p><%= link_to "#{@user.followers.count} フォロワー", show_follows_user_path(@user, tab: 'followers') %></p>
          </div>
          <div class="mt-5">
            <%= render "users/user", user: @user %>
          </div>
          <div class="mt-5 mb-4 clamp-4">
            <% @user.skills.each do |skill| %>
              <div class="badge badge-ghost ml-2 bg-white text-slate-500"><%= skill.name %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <div class="mt-4">
          <div>
            <% if current_user && @user.id == current_user.id %>
            <%= link_to user_mypage_items_path(current_user), class:"inline-flex h-10 items-center justify-center gap-2 w-full rounded-full  bg-white p-2 text-sm font-medium text-black" do%>
              <i class="fa-regular fa-pen-to-square "></i>編集
            <% end %>
            <%= link_to qrcode_user_mypage_path(current_user), class:"inline-flex h-10 items-center justify-center gap-2 w-full rounded-full  bg-white p-2 text-sm font-medium text-black mt-2" do%>
              <i class="fa-solid fa-qrcode"></i>QRコード
            <% end %>
            <%= link_to "https://twitter.com/intent/tweet?url=#{CGI.escape("https://engic.dev/#{@user.username}")}&text=#{CGI.escape((@user.name) +'のプロフィールを見てみよう！')}", target: "_blank", rel: "noopener", class: "inline-flex h-10 items-center justify-center gap-2 w-full rounded-full  bg-white p-2 text-sm font-medium text-black mt-2" do %>
              <%= image_tag "x.svg", alt: "xのリンク", class: "w-5 h-5" %>プロフィールを共有
            <% end %>
          <% end %>
          </div>
        </div>
        <div class="mt-1">
          <% if current_user && current_user != @user %>
            <%= render 'users/follow_buttons', { user: @user, relationship: @relationship } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mt-2 md:mb-1 md:mt-1 mx-auto">
      <div class="mypage_notes">
        <% @items.each do |item| %>
          <%= render 'item', item: item, user_id: @user.id%>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_user && current_user != @user %>
    <div class="flex justify-center">
      <div class="mb-5 w-80 flex justify-center">
        <%= link_to 'ユーザー一覧に戻る', users_path(@user), class:"inline-flex h-10 items-center justify-center w-full rounded bg-white p-2 text-sm font-medium text-black mt-5" %>
      </div>
    </div>
  <% end %>
</div>
