<div class="tabs border-b">
  <div class="tab" data-tab-target="#content1">タブ1</div>
  <div class="tab" data-tab-target="#content2">タブ2</div>
  <div class="tab" data-tab-target="#content3">タブ3</div>
</div>
<div id="content1" class="tab-content">
  <%= image_tag "qiita.webp", class: "w-1/12" %>
      <%= form_with model: [user.mypage, item], url: user_mypage_items_path(user),local: true, data: { turbo_frame: "item" } do |form| %>
        <%= form.label :qiitaname, "@" %>
        <%= form.text_field :qiitaname, value: item.qiitaname, placeholder: "アカウント名" %>
        <%= form.submit"追加" %>
      <% end %>
      <%= image_tag "zenn.svg", class: "w-1/12" %>
      <%= form_with model: [user.mypage, item], url: user_mypage_items_path(user),local: true, data: { turbo_frame: "item" } do |form| %>
        <%= form.label :zennname, "@" %>
        <%= form.text_field :zennname, value: item.zennname, placeholder: "アカウント名" %>
        <%= form.submit"追加" %>
      <% end %>
      <%= image_tag "note.webp", class: "w-1/6" %>
      <%= form_with model: [user.mypage, item], url: user_mypage_items_path(user),local: true, data: { turbo_frame: "item" } do |form| %>
        <%= form.label :note_name, "@" %>
        <%= form.text_field :note_name, value: item.note_name, placeholder: "アカウント名" %>
        <%= form.submit"追加" %>
      <% end %>
</div>
<div id="content2" class="tab-content">
  <%= form_with model: [@user, @user.mypage, item], local: false, data: { turbo_frame: "item" } do |form| %>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <%= form.label :content, "URL" %>
        <%= form.url_field :content, placeholder: "https://example.com" %>
        <%= form.submit "追加" %>
      <% end %>
</div>
<div id="content3" class="tab-content">コンテンツ3</div>
</div>
<script>
document.addEventListener('turbo:load', () => {
  // 最初のタブとタブコンテンツをアクティブにする
  const firstTab = document.querySelector('.tab');
  const firstContent = document.querySelector('.tab-content');
  firstTab.classList.add('active');
  firstContent.classList.add('active');

  document.querySelectorAll('.tab').forEach(tab => {
    tab.addEventListener('click', () => {
      // すべてのタブからアクティブクラスを削除
      document.querySelectorAll('.tab').forEach(t => t.classList.remove('active'));
      // すべてのタブコンテンツを非表示
      document.querySelectorAll('.tab-content').forEach(content => content.classList.remove('active'));
      
      // クリックされたタブと対応するタブコンテンツをアクティブにする
      tab.classList.add('active');
      const targetContent = document.querySelector(tab.getAttribute('data-tab-target'));
      targetContent.classList.add('active');
    });
  });
});

</script>