<div class="collapse bg-base-200">
  <input type="radio" name="my-accordion-1" checked="checked" /> 
  <div class="collapse-title text-xl font-medium">
    memo
  </div>
  <div class="collapse-content"> 
    <%= form_with model: [mypage, item], local: true, data: { turbo_frame: "item" } do |form| %>
      <%= form.label :title %>
      <%= form.text_field :title %>
      <%= form.label :content %>
      <%= form.text_area :content %>
      <%= form.submit "追加" %>
    <% end %>
  </div>
</div>
<div class="collapse bg-base-200">
  <input type="radio" name="my-accordion-1" /> 
  <div class="collapse-title text-xl font-medium">
    Qiita
  </div>
  <div class="collapse-content"> 
    <%= form_with model: [mypage, item], local: true, data: { turbo_frame: "item" } do |form| %>
      <%= form.label :qiitaname %>
      <%= form.text_field :qiitaname %>
      <%= form.submit "追加" %>
    <% end %>
  </div>
</div>
<div class="collapse bg-base-200">
  <input type="radio" name="my-accordion-1" /> 
  <div class="collapse-title text-xl font-medium">
    Click to open this one and close others
  </div>
  <div class="collapse-content"> 
    <p>hello</p>
  </div>
</div>