<div>
  <div class="tabs border-b">
    <div class="tab" data-tab-target="#content1">記事</div>
    <div class="tab" data-tab-target="#content2">URLコンテンツ</div>
    <div class="tab" data-tab-target="#content3">近日公開予定</div>
  </div>
  <div id="content1" class="tab-content">
    <div class="mt-8 md:mt-16 ml-3">
      <div class="flex items-center mt-3">
        <div class="avatar">
          <div class="w-12 rounded">
            <%= image_tag "qiita.webp", class: "w-1/12" %>
          </div>
        </div>
        <div class="ml-3">
          <%= form_with model: [user.mypage, item], url: user_mypage_items_path(user),local: true, data: { turbo_frame: "item" }, class: "input input-bordered input-sm w-full max-w-xs" do |form| %>
            <%= form.label :qiitaname, "@" %>
            <%= form.text_field :qiitaname, value: item.qiitaname, placeholder: "アカウント名", class:"text-base mt-1 bg-white" %>
            <%= form.button type: 'submit', class: 'btn-class' do %>
              <i class="fa-solid fa-plus"></i>
            <% end %>
          <% end %>
        </div>  
      </div>
      <div class="flex items-center mt-3">
        <div class="avatar">
          <div class="w-12 rounded">  
            <%= image_tag "zenn.svg", class: "w-1/12" %>
          </div>
        </div>
        <div class="ml-3">
          <%= form_with model: [user.mypage, item], url: user_mypage_items_path(user),local: true, data: { turbo_frame: "item" }, class: "input input-bordered input-sm w-full max-w-xs" do |form| %>
            <%= form.label :zennname, "@"  %>
            <%= form.text_field :zennname, value: item.zennname, placeholder: "アカウント名" ,class:"text-base mt-1 bg-white"%>
            <%= form.button type: 'submit', class: 'btn-class' do %>
              <i class="fa-solid fa-plus"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="flex items-center mt-3">
        <div class="avatar">
          <div class="w-12 rounded">  
            <%= image_tag "note.webp", class: "w-1/6" %>
          </div>
        </div>
        <div class="ml-3">  
          <%= form_with model: [user.mypage, item], url: user_mypage_items_path(user),local: true, data: { turbo_frame: "item" }, class: "input input-bordered input-sm w-full max-w-xs" do |form| %>
            <%= form.label :note_name, "@" %>
            <%= form.text_field :note_name, value: item.note_name, placeholder: "アカウント名" ,class:"text-base mt-1 bg-white"%>
            <%= form.button type: 'submit', class: 'btn-class' do %>
              <i class="fa-solid fa-plus"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="content2" class="tab-content">
    <div class="mt-8 md:mt-16">
      <%= form_with model: [@user, @user.mypage, item], html: { multipart: true }, local: false, data: { turbo_frame: "item" } do |form| %>
        <div class="mb-4">
          <label for="title" class="fa-regular fa-comments" aria-label="title"></label>
          <%= form.text_field :title, placeholder: "コメント", class: "input input-bordered input-sm w-full max-w-xs md:ml-2 bg-white" %>
        </div>
        <div class="mb-4">
          <label for="content" class="fa-solid fa-link" aria-label="content"></label>
          <%= form.url_field :content, placeholder: "https://example.com", class: "input input-bordered input-sm w-full max-w-xs md:ml-2 bg-white", required: true %>
        </div>
        <div class="mb-4">
           <label for="imagerul" class="fa-regular fa-image" aria-label="imageurl"></label>
          <%= form.file_field :imageurl, class: "file-input file-input-bordered file-input-xs w-full max-w-xs md:ml-2 bg-white"%>
          <%= form.button type: 'submit', class: 'btn-class mt-5 md:mt-0 md:ml-3' do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="content3" class="tab-content">近日公開予定</div>
  </div>
</div>
<script>
document.addEventListener('turbo:load', () => {
  // 最初のタブとタブコンテンツをアクティブにする
  const firstTab = document.querySelector('.tab');
  const firstContent = document.querySelector('.tab-content');
  firstTab.classList.add('active');
  firstContent.classList.add('active');

  document.querySelectorAll('.tab').forEach(tab => {
    tab.addEventListener('click', () => {
      // すべてのタブからアクティブクラスを削除
      document.querySelectorAll('.tab').forEach(t => t.classList.remove('active'));
      // すべてのタブコンテンツを非表示
      document.querySelectorAll('.tab-content').forEach(content => content.classList.remove('active'));
      
      // クリックされたタブと対応するタブコンテンツをアクティブにする
      tab.classList.add('active');
      const targetContent = document.querySelector(tab.getAttribute('data-tab-target'));
      targetContent.classList.add('active');
    });
  });
});

</script>