<%= turbo_frame_tag item, class: "item" do %>
  <div class="item-content relative">
    <% if item.xname.nil? && item.githubname.nil? %>
      <%= link_to user_mypage_item_path(current_user, item), data: { turbo_method: :delete }, local: true, class:"absolute top-0 right-0" do%>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    <% end %>
    <% if item.xname.present? %>
      <%= item.xname %>
    <% end %>
    <% if item.zennname.present? %>
      <div class="flex justify-center">
        <div class="mt-9 mr-8">
          <%= link_to "https://zenn.dev/#{item.zennname}", target:"_blank", class:"button" do %>
            <div class="avatar">
              <div class="w-12 rounded">
                <%= image_tag "zenn.svg", alt: "Zenn", class: "w-full" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="mt-5">
            <div class="mb-2"><%= markdown("![Followers](https://badgen.org/img/zenn/#{item.zennname}/followers?style=social)")%></div>
            <div class="mb-2"><%= markdown("![Articles](https://badgen.org/img/zenn/#{item.zennname}/articles?style=social)") %></div>
            <div class="mb-2"><%= markdown("![Articles](https://badgen.org/img/zenn/#{item.zennname}/articles?style=social)") %></div>
        </div>
      </div> 
    <% end %>
    <% if item.githubname.present? %>
      <div class="relative">
        <div class="absolute z-10 top-10 right-4">
          <%= link_to "https://github.com/#{item.githubname}", target: "_blank", class: "button" do %>
            <div class="avatar">
              <div class="w-16 rounded">
                <%= image_tag "github.svg", alt: "github", class: "w-full bg-white" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="absolute w-auto max-w-full overflow-hidden">
          <%= markdown("![](http://github-profile-summary-cards.vercel.app/api/cards/stats?username=#{item.githubname}&theme=default)")%>
        </div>
      </div>
    <% end %>
    <% if item.qiitaname.present? %>
       <div class="flex justify-center ">
        <div class="mt-9 mr-8">
          <%= link_to "https://qiita.com/#{item.qiitaname}", target: "_blank", class: "button" do %>
            <div class="avatar">
              <div class="w-12 rounded">
                <%= image_tag "qiita.webp", alt: "Qiita", class: "w-full" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="mt-5">
          <div class="mb-2"><%= markdown("![Contributions](https://badgen.org/img/qiita/#{item.qiitaname}/contributions?style=social)") %></div>
          <div class="mb-2"><%= markdown("![Followers](https://badgen.org/img/qiita/#{item.qiitaname}/followers?style=social)") %></div>
          <div class="mb-2"><%= markdown("![Articles](https://badgen.org/img/qiita/#{item.qiitaname}/articles?style=social)") %></div>
        </div>
      </div>
    <% end %>
    <% if item.title.present? %>
      <h2><%= item.title %></h2>
      <p><%= link_to item.content, item.content, target: "_blank", rel: "noopener noreferrer" %></p>
    <% end %>
    <% if item.note_name.present? %>
      <div class="flex justify-center">
        <div class="mt-7">
          <%= link_to "https://note.com/#{item.note_name}", target: "_blank", class: "button" do %>
            <div class="avatar">
              <div class="w-16 rounded">
                <%= image_tag "note.webp", alt: "Note", class: "w-full" %>
              </div>
            </div>
          <% end %>
        </div>
      <div>
        <% if @note_count %>
          <p>記事数: <%= @note_count %></p>
          <p>フォロー:<%= @following_count %></p>
          <p>フォロワー: <%= @follower_count %></p>
        <% else %>
          <p>Note Count is not available.</p>
        <% end %>
      </div>
      </div>
    <% end %>
  </div>
<% end %>