<%= turbo_frame_tag item, class: "item" do %>
  <div class="item-content relative w-full h-full">
    <% if item.xname.nil? && item.githubname.nil? %>
      <%= link_to user_mypage_item_path(current_user, item), data: { turbo_method: :delete, turbo_confirm: "削除してよろしいですか？" }, local: true, class:"absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2" do%>
        <i class="fa-regular fa-circle-xmark"></i>
      <% end %>
    <% end %>
    <% if item.xname.present? %>
      <div class="relative h-full">
        <div class="h-full flex items-center w-40">
          <div class="flex-grow ml-2 overflow-hidden max-h-32">
            <p class="text-slate-500 text-xs mb-2"><i class="fa-solid fa-location-dot mr-2"></i><%= item.location %></p>
            <p class="text-slate-500 text-xs "><i class="fa-regular fa-message mr-2"></i><%= item.bio %></p>
          </div>
        </div>
        <div class="absolute top-10 right-4">
          <%= link_to "https://twitter.com/#{item.xname}", target: "_blank", class: "button" do %>
            <div class="avatar">
              <div class="w-12 rounded">
                <%= image_tag "x.svg", alt: "", class: "w-full" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if item.zennname.present? %>
      <div class="flex justify-center space-x-6">
        <div class="mt-6">
            <div class="mb-2"><%= markdown("![Followers](https://badgen.org/img/zenn/#{item.zennname}/followers?style=social)")%></div>
            <div class="mb-2"><%= markdown("![Articles](https://badgen.org/img/zenn/#{item.zennname}/articles?style=social)") %></div>
            <div class="mb-2"><%= markdown("![Articles](https://badgen.org/img/zenn/#{item.zennname}/articles?style=social)") %></div>
        </div>
        <div class="mt-10 ml-3">
          <%= link_to "https://zenn.dev/#{item.zennname}", target:"_blank", class:"button" do %>
            <div class="avatar">
              <div class="w-12 rounded">
                <%= image_tag "zenn.svg", alt: "Zenn", class: "w-full" %>
              </div>
            </div>
          <% end %>
        </div>
      </div> 
    <% end %>
    <% if item.githubname.present? %>
      <div class="relative">
        <div class="absolute z-10 top-10 right-4">
          <%= link_to "https://github.com/#{item.githubname}", target: "_blank", class: "button" do %>
            <div class="avatar">
              <div class="w-16 rounded">
                <%= image_tag "github.svg", alt: "github", class: "w-full bg-white" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="absolute w-auto max-w-full overflow-hidden">
          <%= markdown("![](http://github-profile-summary-cards.vercel.app/api/cards/stats?username=#{item.githubname}&theme=default)")%>
        </div>
      </div>
    <% end %>
    <% if item.qiitaname.present? %>
       <div class="flex justify-center space-x-6">
        <div class="mt-7">
          <div class="mb-2"><%= markdown("![Contributions](https://badgen.org/img/qiita/#{item.qiitaname}/contributions?style=social)") %></div>
          <div class="mb-2"><%= markdown("![Followers](https://badgen.org/img/qiita/#{item.qiitaname}/followers?style=social)") %></div>
          <div class="mb-2"><%= markdown("![Articles](https://badgen.org/img/qiita/#{item.qiitaname}/articles?style=social)") %></div>
        </div>
        <div class="mt-10 ml-3">
          <%= link_to "https://qiita.com/#{item.qiitaname}", target: "_blank", class: "button" do %>
            <div class="avatar">
              <div class="w-12 rounded">
                <%= image_tag "qiita.webp", alt: "Qiita", class: "w-full" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if item.content.present? %>
      <div class="relative h-full">
        <div class="flex h-full items-center">
          <div class="flex-grow">
            <div class="flex text-slate-500 text-xs ml-2 w-36">
              <i class="fa-regular fa-comments mb-3"></i>
              <p class="ml-2"><%= item.title %></p>
            </div>
          </div>
          <div class="avatar top-7 right-4 absolute">
            <div class="w-14 rounded" >
              <%= image_tag(item.imageurl.present? ? item.imageurl.url : "image-default.svg", alt: "イメージ") %>
            </div>
          </div>
        </div>
        <div class="absolute bottom-2 left-2 w-52" >
          <p class="text-slate-500 text-xs truncate">
            <i class="fa-solid fa-link"></i>
            <%= link_to item.content, item.content, target: "_blank", rel: "noopener noreferrer", class: "hover:text-slate-600 underline" %>
          </p>
        </div>
      </div>
    <% end %>
    <% if item.note_name.present? %>
      <div class="flex justify-center space-x-8">
        <div class="mt-8">
          <% if @note_count %>
            <p class="text-slate-500 text-xs mb-2"><i class="fa-regular fa-note-sticky mr-2"></i>記事:<%= @note_count %></p>
            <p class="text-slate-500 text-xs mb-2">フォロー:<%= @following_count %></p>
            <p class="text-slate-500 text-xs">フォロワー: <%= @follower_count %></p>
          <% else %>
            <p>Note Count is not available.</p>
          <% end %>
        </div>
        <div class="mt-7 mr-4">
          <%= link_to "https://note.com/#{item.note_name}", target: "_blank", class: "button" do %>
            <div class="avatar">
              <div class="w-16 rounded">
                <%= image_tag "note.webp", alt: "Note", class: "w-full" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>