<!DOCTYPE html>
<html>
  <head>
    <title>EngiC.</title>
    <%= favicon_link_tag('favicon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="https://engic.dev/" />
    <meta property="og:title" content="エンジニア・エンジニアになりたい人とつながるアプリ EngiC." />
    <meta property="og:description" content="エンジニア・エンジニアになりたい人とつながるアプリ" />
    <meta property="og:image" content="<%= image_url "card.webp" %>" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N54L0MHLNX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-N54L0MHLNX');
    </script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'custom' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
  </head>
    
  <body class="flex flex-col h-screen">
  <div class="background">
    <header>
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render "shared/flash_message" %>

    </header>
    <main class="flex-grow">
      <%= yield %>
    </main>
  </div>
    <footer class="mt-auto">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
